$container-width: 1260px;
$accent-color: #151515;
@mixin container {
  max-width: $container-width;
  margin: 0 auto;
}

body,
html {
  background: #f0f0f0;
  scroll-behavior: smooth;
}

.header {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 120px;

  &-nav {
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: auto;

    &__link {
      color: $accent-color;
      padding-bottom: 15px;
      font-size: 18px;
      border-bottom: transparent solid 2px;
      text-decoration: none;
      &:hover {
        border-bottom: #151515 solid 2px;
      }
    }
  }
  &__auth {
    display: flex;
    gap: 20px;
  }
}
.button {
  color: #ffffff;
  background: $accent-color;
  padding: 14px 20px;
  font-size: 18px;
  border: none;
  &:hover {
    color: $accent-color;
    background: #ffffff;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    &--white:hover {
      color: #ffffff;
      background: $accent-color;
    }
  }
  &--white {
    color: $accent-color;
    background: #ffffff;
    &:hover {
      color: #ffffff;
      background: $accent-color;
    }
  }
}

.hero {
  @include container;

  display: flex;
  justify-content: space-between;
  gap: 90px;

  .hero-info {
    margin-top: 90px;
    &__title {
      font-size: 60px;
      font-weight: 500;
      line-height: 70px;
    }

    &__description {
      font-size: 18px;
      font-weight: 400;
      margin-top: 20px;
      width: 565px;
    }
    &__email {
      width: 505px;

      display: flex;

      margin-top: 40px;
      gap: 0px;
    }
    &__payer {
      display: flex;
      gap: 28px;
      margin-top: 80px;
    }
  }
}
.email {
  background: #ffffff;
  padding: 14px 20px;
  font-size: 18px;
  border: none;
}
.about {
  @include container;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 200px;

  .about-info {
    width: 750px;
    &__title {
      font-size: 50px;
      font-weight: 500;
      line-height: 60px;
      margin-top: 40px;
    }
    &__description {
      font-size: 18px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 60px;
    }
    &__list {
      width: 570px;
      font-size: 18px;
      font-weight: 400;
      list-style-type: square;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .about__image {
    width: 500px;
  }
}
.anchor {
  font-size: 14px;
  padding: 6px 20px;
  border: #000000 solid 1px;
  text-transform: uppercase;
}

/*Секция "How it work"*/
.work {
  @include container;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 200px;
}
.work-info {
  width: 750px;
  &__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 40px;
  }
  &__box-content {
    display: flex;
    gap: 48px;
    margin-top: 20px;
    &__icon {
      width: 100px;
      height: 100px;
    }
    &__box-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
/*Секция "pricing"*/
.pricing {
  @include container;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 200px;
  &__image {
    width: 470px;
    height: 500px;
  }
}
.pricing-info {
  width: 750px;
  text-align: right;
  &__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 120px;
  }
}
/*Секция "price" GRID*/
.price-count {
  @include container;
  display: grid;
  margin-top: 60px;

  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  gap: 40px;
  height: 644px;

  &__month {
    border: #000000 solid 1px;
    padding: 40px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__info {
      display: flex;
      &__dollar {
        font-size: 20px;
        font-weight: 800;
      }
      &__count {
        font-size: 80px;
        font-weight: 800;
      }
      &__info {
        display: flex;
        align-items: flex-end;
        font-size: 20px;
        font-weight: 800;
      }
    }
    &__list {
      width: 570px;
      font-size: 18px;
      font-weight: 400;
      list-style-type: square;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &__yearly {
    padding: 40px;
    background: $accent-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__info {
      display: flex;
      &__dollar {
        font-size: 20px;
        font-weight: 800;
        color: #ffffff;
      }
      &__count {
        font-size: 80px;
        font-weight: 800;
        color: #ffffff;
      }
      &__info {
        display: flex;
        align-items: flex-end;
        font-size: 20px;
        font-weight: 800;
        color: #ffffff;
      }
    }
    &__list {
      width: 570px;
      font-size: 18px;
      font-weight: 400;
      list-style-type: square;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #ffffff;
    }
  }
  &__alltime {
    padding: 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__info {
      display: flex;
      &__dollar {
        font-size: 20px;
        font-weight: 800;
      }
      &__count {
        font-size: 80px;
        font-weight: 800;
      }
      &__info {
        display: flex;
        align-items: flex-end;
        font-size: 20px;
        font-weight: 800;
      }
    }
    &__list {
      width: 570px;
      font-size: 18px;
      font-weight: 400;
      list-style-type: square;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
/*footer*/

.footer {
  background: #151515;
  margin-top: 200px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  @include container;
  padding-top: 32px;
}
.footer-info {
  padding-bottom: 32px;
}
.footer-content {
  width: 464px;
}
.footer-content__title {
  color: #ffffff;
  margin-top: 43px;
  font-size: 36px;
  font-weight: 400;
}
.footer-content__email {
  border: #ffffff solid 1px;
  display: flex;

  margin-top: 40px;
  gap: 0px;
}
.footer-pages-one {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 100px;
  color: #ffffff;
  line-height: 32px;
}
.footer-sign {
  @include container;
  display: flex;
  justify-content: space-between;
  padding-top: 155px;
  &__signature {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
  }
}
